div {
  text-align: justify;
}

body {
  background-color: white;
}

h1 {
  color: #767676;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Montserrat !important ;
}

h2 {
  color: #E10033;
  font-weight: bold;
  text-align: left;
  font-size: 1.4em;
  font-family: Montserrat !important ;
}


h3 {
  text-align: left;
  font-size: 1.3em;
  font-family: Montserrat !important ;
}

p {
  font-family: Montserrat !important ;
  font-size: 1.1em;
}

.centrado
{
 text-align: center;
 background-color: #E8E8E8;
}

.footer
{
 text-align: center;
 font-size: 0.9em;
 font-weight: bold;
}